<?xml version="1.0"?>
<configuration>
  <appSettings>
           

    <add key="MaxEmails" value="20"/>

    <add key="SaveFileLocalLocation" value="C:\emailsorter\tempfolder\"/> <!-- THIS WIL MAKE A NEE FOLDER-->

    <add key="SubjectJsonReplaceFileLocation" value="D:\DEV\EmailSorter2FA\PareX\ConFigs\subjectedit.json"/>

    <add key="CleanSubject" value="fwd:,fw:,wg:,re:,fwd:,ant:"/>


	  <add key="PauseConsole" value="false"/>



	  <add key="ExtentionsAllowed" value=".csv,.txt,.dat,.xls,.xlsx"/>

    <add key="logfile" value="D:\DEV\EmailSorter2FA\logs.xml"/>

    <add key="deleteinboxpercentage" value="50"/>

  </appSettings>


</configuration>
